.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  z-index: 99;
  transition: all 0.5s ease;
}
.header:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 100px;
}
.header.on {
  height: 350px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}
.header.on .list {
  color: #111;
}
.header.on .logo a .black {
  opacity: 1;
}
.header.on .logo a .white {
  opacity: 0;
}
.header .logo {
  position: absolute;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.header .logo a .white {
  position: absolute;
  transition: all 0.25s ease;
}
.header .logo a .black {
  opacity: 0;
  transition: all 0.25s ease;
}

.gnb .list {
  display: flex;
  justify-content: center;
  color: #fff;
}
.gnb .list > li .depth01 {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.25s ease;
}
.gnb .list > li .depth01:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f60;
  position: absolute;
  left: 0;
  bottom: -2px;
  transform: scaleX(0);
  transition: all 0.25s ease;
  z-index: 1;
}
.gnb .list > li:hover .depth01 {
  color: #f60;
}
.gnb .list > li:hover .depth01::after {
  transform: scaleX(1);
}
.gnb .list > li .depth02 {
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
}
.gnb .list > li .depth02 li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.25s ease;
}
.gnb .list > li .depth02 .masterpiece {
  color: #f60;
  font-weight: 700;
}

.popup {
  display: none;
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  left: 100px;
  top: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.popup .content {
  width: 400px;
  height: 400px;
  background-color: #f60;
  margin-bottom: 10px;
}