.main-visual iframe {
  width: 100%;
  aspect-ratio: 1/0.5625;
}
.main-visual .txt {
  color: #fff;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border: 1px solid #f00;
}
.main-visual .txt h2 {
  font-size: 48px;
  line-height: 60px;
}

.title-box {
  padding: 100px 150px;
  border: 1px solid #f00;
}
.title-box h2 {
  font-size: 48px;
  align-items: center;
  line-height: 60px;
  border: 1px solid #f00;
}
.title-box h3 {
  font-size: 24px;
  align-items: center;
  line-height: 30px;
  border: 1px solid #f00;
}
.title-box .mask {
  margin-top: 50px;
  border: 1px solid #f00;
}