.main-visual iframe {
  width: 100%;
  aspect-ratio: 1/0.5625;
}
.main-visual .slogan {
  position: absolute;
  color: #fff;
  font-size: 48px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  line-height: 1.5;
  font-weight: 700;
}
.main-visual .slogan .word {
  overflow: hidden;
}

.banner {
  padding: 150px 0;
  overflow-x: hidden;
}
.banner .mask {
  margin-top: 120px;
  position: relative;
}
.banner .mask .list li {
  width: 1160px;
}
.banner .mask .list li p {
  margin-top: 30px;
  font-size: 24px;
}
.banner .mask .list li p .category {
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
}
.banner .mask button {
  position: absolute;
  background: none;
  top: 40%;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  z-index: 2;
  cursor: pointer;
}
.banner .mask button .material-icons {
  font-size: 48px;
  color: #fff;
}
.banner .mask button.btn-next {
  right: 270px;
}
.banner .mask .pagination {
  margin-top: 50px;
}
.banner .mask .pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  border: 3px solid #0b7bff;
  background: none;
  border-radius: 100px;
  transition: all 0.25s ease;
}
.banner .mask .pagination .swiper-pagination-bullet-active {
  width: 50px;
  background-color: #0b7bff;
}

.partner {
  padding: 150px 0;
  background-color: #f7f8f9;
  overflow-x: hidden;
}
.partner .brand {
  margin-top: 50px;
}
.partner .brand ul {
  transition-timing-function: linear;
}
.partner .brand ul li {
  width: auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect {
  padding: 150px 0;
  position: relative;
  color: #fff;
}
.effect .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 1/0.5625;
  z-index: -1;
}
.effect .panel ul {
  display: flex;
  justify-content: space-between;
}
.effect .panel ul li {
  width: 24%;
}
.effect .panel ul li img {
  width: 100%;
  aspect-ratio: 1/1.5;
  transition: all 1s ease;
  vertical-align: top;
}
.effect .panel ul li p {
  font-weight: 700;
}
.effect .panel ul li a:hover img {
  transform: scale(1.2);
}
.effect .panel ul li .img-box {
  overflow: hidden;
}

.news {
  padding: 150px 0;
}
.news .title-box {
  display: flex;
  align-items: end;
}
.news .title-box h2 {
  margin-bottom: 0;
}
.news .title-box .detail {
  margin-left: 50px;
  font-size: 20px;
}
.news .panel {
  margin-top: 50px;
}
.news .panel ul {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}
.news .panel ul li {
  width: 33.33%;
}
.news .panel ul li .img-box img {
  width: 100%;
}
.news .panel ul li .txt-box h3 {
  margin: 20px 0 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  white-space: nowrap;
  overflow: hidden;
}
.news .panel ul li .txt-box p {
  line-height: 1.5;
  height: 4.5em;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-overflow: ellipsis;
}

.recruit {
  color: #fff;
  padding: 150px 0;
  background-image: url(../images/main/background.png);
}
.recruit .txt-box {
  font-size: 60px;
  font-weight: 900;
  line-height: 2;
}
.recruit .txt-box .rolling {
  height: 100px;
  width: 400px;
  overflow: hidden;
  text-align: center;
  color: #0b7bff;
  display: inline-block;
  position: relative;
}
.recruit .txt-box .rolling:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
}

.more {
  display: flex;
  width: 200px;
  height: 60px;
  background-color: #0b7bff;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 0px #0063d7,2px 2px 0px #0063d7,3px 3px 0px #0063d7,4px 4px 0px #0063d7,5px 5px 0px #0063d7,6px 6px 0px #0063d7,7px 7px 0px #0063d7;
  overflow: hidden;
}

.title-box h2 {
  font-size: 48px;
  line-height: 1.25;
}
.title-box h2 .mini {
  color: #0b7bff;
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
.title-box p {
  font-size: 24px;
  line-height: 1.25;
}
.title-box .detail {
  font-weight: 700;
}
.title-box .detail .material-icons {
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 6px;
}