@import "vars";
body {
  font-size: 16px;
  color: #111;
  font-family: "Noto Sans KR";
  font-weight: 400;
  min-height: 4000px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1430px;
  margin: 0 auto;
  //가운데로 정렬되게 margin(좌우)은 auto
  position: relative;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5;
}

.section {
  padding: 100px 0;
}
