@import "vars";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  z-index: 99;
  //swiper가 header를 가리기 때문에 설정
  transition: all 0.25s ease;

  .logo {
    height: 80px;
    padding: 0 50px;

    img {
      height: 40px;
      //높이를 제한해서 6로고 사이즈 줄이기
      top: 20px;
      position: absolute;
      //로고 2개 모두 absolute한 뒤 opacity 처리
      opacity: 0;
      transition: all 0.25s ease;

      &.white {
        opacity: 1;
      }
    }
  }

  &.on {
    color: #111;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    // scroll 했을 때 그림자 효과 추가

    .logo {
      img {
        &.white {
          opacity: 0;
        }
        &.black {
          opacity: 1;
        }
      }
    }
  }
}

.gnb {
  .list {
    display: flex;

    li {
      a {
        display: flex;
        align-items: center;
        height: 80px;
        padding: 0 40px;
        font-size: $h4;
        font-weight: 500;
        box-sizing: border-box;
        // box-sizing:border-box 테두리를 기준으로 크기 결정 (default: content-box)
      }
    }
  }
}
