.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 99;
  position: fixed;

  .logo {
    width: 100%;
    height: 100px;

    img {
      transform: translateY(50%);
    }
    .red {
      position: absolute;
      opacity: 0;
    }
    .white {
      position: absolute;
      opacity: 1;
    }
    a {
      .logo1 {
        height: 34px;
        margin-top: 20px;
        margin-left: 20px;
      }
      .logo2 {
        height: 22px;
        padding-left: 10px;
      }
    }
  }

  &.on {
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    .logo {
      a > div {
        &.white {
          opacity: 0;
        }
        &.red {
          opacity: 1;
        }
      }
    }
  }
}
