@import "vars";
// _vars에서 정한 값들을 가져다쓸 수 있다

body {
  /* key: value; */
  font-size: 18px;
  font-family: "Noto Sans KR";
  font-weight: 400;
  min-height: 4000px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  /* margin-left: auto;
    margin-right: auto; */
  /* 모니터 넓이에서 남는만큼 자동으로 영역 측정 */
  margin: 0 auto;
  /* 요약해서 사용하기 위해 top부터 시계방향으로 설정 */
  /* outline: 1px solid #f00; */
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

strong {
  font-weight: 700;
}
.point-color {
  color: $main-color;
}

p {
  line-height: 1.5;
}
