@import "vars";
.main-visual {
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    vertical-align: top;
    //tech와의 공백을 최소화
  }
  .txt {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    h2 {
      font-size: $h1;
    }
    p {
      //writing-mode: vertical-lr;
    }
  }
  .scroll {
    position: absolute;
    right: 200px;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      writing-mode: vertical-rl;
      margin-bottom: 20px;
      //text-orientation: upright;
    }
    .line {
      height: 150px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      display: block;
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        height: 40px;
        width: 1px;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 0;
        animation: scroll 2s linear infinite;
      }
    }
  }
}

@keyframes scroll {
  0% {
    top: -40px;
    //background-color: #f00;
  }

  100% {
    top: 100%;
  }
}

.title-box {
  padding: 0 50px;
  h2 {
    font-size: $h4;
  }
  h3 {
    font-size: $h2;
    font-weight: 700;
  }
  a {
    padding: 15px 30px;
    border: 1px solid #fff;
    margin-top: 30px;
    display: inline-block;
  }
}

.tech {
  display: grid;
  //column 4칸 row 2칸
  //grid-template-columns: 300px 300px 300px 300px;
  //grid-template-columns: repeat(4, 300px);
  //grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px);
  background-image: url(../images/main/sec2_bg.jpg);
  color: #fff;
  gap: 20px;
  padding: 50px;
  .content {
    position: relative;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;

    &:not(.not) h3 {
      position: absolute;
      bottom: 0;
      font-size: $h3;
      font-weight: 700;
      width: 100%;
      padding: 20px 40px;
      &::after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 0;
        bottom: -100%;
        transition: all 0.25s ease;
      }
    }
    &:hover h3::after {
      bottom: 0;
    }
    // border: 1px solid #f00;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-size: 40px;
    &:nth-child(1) {
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
    }
    &:nth-child(2) {
      background-image: url(../images/main/sec2_bg1.jpg);
    }
    &:nth-child(3) {
      background-image: url(../images/main/sec2_bg2.jpg);
    }
    &:nth-child(4) {
      background-image: url(../images/main/sec2_bg3.jpg);
    }
    &:nth-child(5) {
      background-image: url(../images/main/sec2_bg4.jpg);
    }
    &:nth-child(6) {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: $h2;
      }
    }
    &:nth-child(7) {
      background-image: url(../images/main/sec2_bg5.jpg);
    }
  }
}

// .tech {
//   ul {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     gap: 10px;
//     padding: 10px;
//     li {
//       border: 1px solid #f00;
//       min-height: 300px;
//       &:nth-child(1) {
//         // grid-column-start: 1;
//         // grid-column-end: 3;
//         grid-column-end: span 2;
//       }
//     }
//   }
// }

.product {
  padding: 100px;
  background-color: #dcdce1;
  display: flex;
  justify-content: space-between;
  .title-box {
    padding: 0 50px;
    color: #111;
    a {
      border-color: #111;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    padding: 100px 50px;
    li {
      margin-bottom: 50px;
      width: 50%;
      &:nth-child(1) h3:before {
        background-image: url(../images/main/sec3_icon1.png);
      }
      &:nth-child(2) h3:before {
        background-image: url(../images/main/sec3_icon2.png);
      }
      &:nth-child(3) h3:before {
        background-image: url(../images/main/sec3_icon3.png);
      }
      &:nth-child(4) h3:before {
        background-image: url(../images/main/sec3_icon4.png);
      }
      h3 {
        font-size: $h3;
        margin-bottom: 20px;
        &:before {
          content: "";
          display: block;
          height: 64px;
          width: 64px;
          background-repeat: no-repeat;
          background-position: 50% 0;
          //background-image: url(../images/main/sec3_icon1.png);
          border: 2px solid #111;
          border-radius: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }

  .img-area {
    display: flex;
    align-items: center;
    padding-right: 100px;
    img:nth-child(1) {
      margin-right: -30px;
      z-index: 2;
      position: relative;
    }
    img:nth-child(3) {
      margin-left: 30px;
    }
  }
}

.media {
  background-color: $gray;
  padding: 100px 0;
  .mask {
    padding: 50px;
    margin: 0 auto;
    //슬라이드 가운데 정렬
    overflow-x: hidden;
    margin-top: 150px;
  }
  .list {
    li {
      width: 400px;
      &:hover a {
        transform: translateY(-50px);
      }
      a {
        border-radius: 30px;
        overflow: hidden;
        display: block;
        transition: all 0.5s ease;
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          vertical-align: top;
          //p태그 사이의 여백 지우기
        }

        p {
          padding: 35px;
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
